:root {
  --color-red: #cc0000;
  --color-yellow: #FFDe00;
  --color-blue: #3b4cca;
  --color-darkgrey: rgb(51, 49, 49);
  --color-black: #000;
  --color-white: #eee;
}


html,
body {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/*.modal-content {
  background-color: var(--color-orange);
}*/

/*h5.modal-title {
  font-weight: bold;
  font-variant: small-caps;
}*/

p {
  color: var(--color-black);
  text-align: left;
  font-size: 1.25rem;
}

.pokemon-list {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

li {
  list-style-type: none;
  display: flex !important;
  flex-direction: column !important;
  flex-wrap: wrap;
  border: 1px solid rgba(0, 0, 0, 0.125);
  background-color: var(--color-yellow) !important;
  width: 50%;
  align-content: center;
}

li img {
  width: 30%;
  height: fit-content;
}



