.button-class {
  background-color: #4caf50;
  /* Green */
  border: none;
  color: #e4e4eb;
  padding: 16px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  margin: 4px 2px;
  -webkit-transition-duration: 0.4s;
  /* Safari */
  transition-duration: 0.4s;
  cursor: pointer;
  background-color: white;
  color: black;
  border: 2px solid #4caf50;
}

li {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

html,
body {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/*.modal-content {
  background-color: var(--color-orange);
}*/

h5.modal-title {
  font-weight: bold;
  font-variant: small-caps;
}

button.btn.btn-secondary {
  background-color: var(--color-orange);
  box-shadow: none;
}

button.btn.btn-secondary:hover, button.btn.btn-secondary:active {
  background-color: var(--color-orange);
  color: var(--color-blue);
}

img.card-img-top {
  display: block;
  margin-left: auto;
  margin-right: auto;
  width: 50%;
}

h4.card-title {
  display: block;
  text-align: center;
  font-weight: bold;
}

.card {
  position: relative;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-direction: column;
  flex-direction: column;
  min-width: 0;
  word-wrap: break-word;
  background-color: rgb(238, 158, 10);
  background-clip: border-box;
  border: 1px solid rgba(0, 0, 0, 0.125);
  border-radius: 0.25rem;
}

div.row {
  flex-direction: row;
  justify-content: space-evenly;
}

