:root {
  --color-red: #cc0000;
  --color-yellow: #FFDe00;
  --color-blue: #3b4cca;
  --color-darkgrey: rgb(51, 49, 49);
  --color-black: #000;
  --color-white: #eee;
}



li {
  list-style-type: none;
  justify-content: center;
  display: flex;
  flex-wrap: wrap;
}

html,
body {
  font-family: Arial, sans-serif;
}

* {
  box-sizing: border-box;
}

/*.modal-content {
  background-color: var(--color-orange);
}*/

/*h5.modal-title {
  font-weight: bold;
  font-variant: small-caps;
}*/

p {
  color: var(--color-black);
  text-align: left;
  font-size: 1.25rem;
}





